*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header h2{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

nav ul{
    background-color: orange;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 150px;
}

nav li:hover{
    background-color: red;
}

main{
    float: left;
    width: 80%;
    min-height: 500px;
    padding: 10px;
}

section{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid orange;
}

section h3{
    font-size: 25px;
    margin-bottom: 20px;
}

section img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    padding: 40px;
    float: left;
}

aside{
    float: left;
    width: calc(20%- 5px);
    min-height: 500px;
    padding: 10px;
    text-align: center;
}

aside h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

aside ul{
    list-style: none;
}

aside a{
    text-decoration: none;
    color: orange;
}

footer{
    width: 100%;
    height: 195px;
    background-color: black;
    color: white;
    line-height: 50px;
    float: left;
}
footer p{
    text-align:  center;
    padding: 70px;
}